@import '../../App.scss';

.tape {
  @extend %invisibleScrollbar;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  ul {
    align-items: center;
    display: flex;
    & > li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
