@import '../../../App.scss';

.sliderCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 255px;
  img {
    @extend %bookImg;
    width: 170px;
    height: 255px;
  }
}
