@import '../../Variables.scss';
@import '../../App.scss';

.wrap {
  width: 75%;
  padding: 40px;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: 200px auto;
  gap: 40px;
  background-color: $lightgray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  @media (max-width: 768px) {
    width: 55%;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 25px;
  }
  @media (max-width: 500px) {
    width: 75%;
    padding: 20px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      @extend %bookImg;
      width: 200px;
      max-height: 290px;
    }
    .bookRating {
      margin: 20px 0 10px 0;
    }
    .ratingAmount {
      text-align: center;
      font-weight: $font-weight;
    }
  }
  .right {
    overflow: hidden;
    @media (max-width: 768px) {
      grid-row: 1;
    }
    .bookTitle,
    .authorUserName {
      text-align: left;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    p {
      margin: 20px 0;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .tapes {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .date {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
