@import '../../../Variables.scss';
@import '../../../App.scss';

.second {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 50px;
  @media (max-width: 1035px) {
    grid-template-columns: 1fr;
  }
  .sliders {
    display: flex;
    flex-direction: column;
    gap: 30px;
    div {
      margin-bottom: 15px;
    }
  }
}

.right {
  align-self: center;
  text-align: center;
  .hl {
    @extend %mainPageHl;
  }
  .par {
    margin: 20px 0;
    text-align: center;
  }
  .btnWrap {
    display: flex;
    justify-content: center;
  }
}
