@import '../../Variables.scss';

.btn {
  background-color: $purple;
  font-weight: $font-weight;
  color: $white !important;
  padding: 10px 24px;
  border-radius: 30px;
  &.link {
    &:hover {
      transform: scale(1.025);
    }
  }
}
