@import '../../../Variables.scss';
@import '../../../App.scss';

.wrap {
  border-top: 2px solid $purple;
  .header {
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .imgAndNick {
      @extend %profileImgAndNick;
    }
    .settingsBtn {
      @extend %btn;
      &:hover {
        transform: scale(1.025);
      }
    }
  }
}
