@import '../../Variables.scss';

.footer {
  min-height: 200px;
  background-color: $darkgray;
  color: $white;
  .nav {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr;
    @media (max-width: 1035px) {
      grid-template-columns: 1fr 0.4fr;
    }
    @media (max-width: 560px) {
      padding: 20px 0;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    & > ul {
      line-height: 2;
    }
    .ulFirst {
      @media (max-width: 560px) {
        grid-row: 3;
      }
    }
    .ulLast {
      justify-self: center;
      @media (max-width: 1035px) {
        justify-self: flex-start;
      }
    }
    .hl {
      font-weight: $font-weight;
    }
    .li {
      width: fit-content;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}
