@import '../../../Variables.scss';
@import '../../../App.scss';

.wrap {
  width: 80%;
  margin: 0 auto;
  word-break: break-word;
  @media (max-width: 500px) {
    width: 100%;
  }
  .filters {
    display: flex;
    justify-content: space-between;
    background-color: $lightgray;
    border-radius: 10px;
    padding: 10px 20px;
    .li {
      text-align: center;
      @extend %profileNavLi;
    }
  }
  .comments {
    margin-bottom: 40px;
    .comment {
      overflow-y: auto;
      // @extend %invisibleScrollbar;
      border-radius: 10px;
      background-color: $lightgray;
      padding: 30px;
      height: 250px;
      overflow-y: auto;
      margin-top: 20px;
      .header {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
          display: block;
        }
      }
      .ratingWrap {
        margin: 0 10px;
        display: inline-flex;
        gap: 5px;
        align-items: center;
      }
      .bookTitle {
        color: $purple;
      }
      p {
        margin: 10px 0;
      }
    }
  }
}
