@import '../../Variables.scss';
@import '../../App.scss';

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: calc(100vh - 70px);
  @media (max-width: 600px) {
    height: 600px;
  }
  .form {
    width: 400px;
    max-width: 90%;
    min-height: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: $border-shadow;
    @extend %forms;
  }
}
