@import './Variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

a,
a:link,
a:visited,
a:hover {
  color: $black;
  text-decoration: none;
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

ul,
ul li {
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

body {
  &.activeModal {
    overflow-y: hidden;
  }
}

.mainContent {
  margin-top: 70px;
}

%profileNavLi {
  padding: 7px 15px;
  &:not(.active) {
    cursor: pointer;
  }
  &:not(.active):hover {
    background-color: rgba(217, 217, 217, 0.23);
    border-radius: 5px;
  }
  &.active {
    cursor: default;
    color: $purple;
    font-weight: $font-weight;
    position: relative;
    @media (max-width: 768px) {
      &.active::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      left: 2.5px;
      top: 50%;
      margin-top: -3.5px;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      background-color: $purple;
    }
  }
}

%mainPageHl {
  font-size: 48px;
  font-weight: $font-weight + 200;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

%bookImg {
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}

%btn {
  background-color: $purple;
  font-weight: $font-weight;
  color: $white !important;
  padding: 10px 24px;
  border-radius: 30px;
}

%profileImgAndNick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }
  }
  h2 {
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
}
%invisibleScrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

%forms {
  .title {
    font-weight: $font-weight;
    margin: 10px 0 20px 0;
    font-size: 20px;
  }
  .group {
    height: 48px;
    margin-bottom: 20px;
    position: relative;
    .formEye {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 5px;
      transform: translate(-5px, -50%);
      display: flex;
      align-items: center;
    }
    &.error {
      margin-bottom: 0;
    }
  }
  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid $gray;
    outline: none;
    padding: 16px;
    border-radius: 5px;
    z-index: 1;
    &:focus {
      border: 1px solid $purple;
      &.error {
        border: 1px solid red;
      }
    }
    &:focus + .label {
      top: -10px;
      z-index: 10;
      color: $purple;
      font-weight: 500;
      &.error {
        color: red;
      }
    }
    &:not(:focus):valid + label {
      top: -10px;
      z-index: 10;
    }
    &.error {
      border: 1px solid red;
    }
  }
  .label {
    position: absolute;
    left: 13px;
    top: 13px;
    color: $gray;
    background-color: $white;
    padding: 0 6px;
    font-size: 14px;
    transition: $tr;
  }
  .btnWrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .formButton {
      @extend %btn;
      padding: 12px 32px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        transform: scale(1.025);
      }
    }
  }
  .errorMessage {
    font-size: 14px !important;
    color: red;
    font-weight: 400 !important;
    margin-bottom: 20px;
  }
}
