@import '../../../Variables.scss';
.header {
  padding: 20px 20px;
  border-bottom: 2px solid $purple;
  .ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-weight: $font-weight;
    font-size: 18px;
    .li {
      display: block;
      transition: color $tr;
      &:hover {
        color: $purple;
      }
    }
    .activeLi {
      display: block;
      color: $purple;
    }
  }
}
